In [66]:
import pandas as pd
import numpy as np
import scipy
from scipy.stats import norm
import seaborn as sns
import matplotlib.pyplot as plt
import os
from scipy.stats import norm

In [2]:
# Specifying the directories and paths
working_folder = "."

figures_folder = working_folder + os.path.sep + 'figures' + os.path.sep
if not os.path.isdir(figures_folder):
    os.mkdir(figures_folder)
    
data_folder = working_folder + os.path.sep + 'data' + os.path.sep # ./data/


#'./data/asos_digital_experiments_dataset.parquet'
abtest_metrics_local_path = data_folder + 'asos_digital_experiments_dataset.parquet' 
abtest_metrics_remote_path = "https://osf.io/62t7f/download" 

# Download the dataset if it does not already exist
# The body of the if-statement is a shell command
if not os.path.exists(abtest_metrics_local_path):
    !wget -O $abtest_metrics_local_path $abtest_metrics_remote_path

# Load the dataset
df = pd.read_parquet(abtest_metrics_local_path)

In [3]:
df

,experiment_id,variant_id,metric_id,time_since_start,count_c,count_t,mean_c,mean_t,variance_c,variance_t
0,036afc,2,1,1.5,188065.0,186686.0,0.107808,0.107828,0.096186,0.096201
1,036afc,2,1,2.0,245041.0,243694.0,0.131790,0.131435,0.114422,0.114160
2,036afc,2,1,2.5,277237.0,275949.0,0.143065,0.142711,0.122598,0.122345
3,036afc,2,1,3.0,315689.0,314676.0,0.161789,0.160997,0.135613,0.135077
4,036afc,2,1,3.5,338631.0,337715.0,0.172474,0.171067,0.142727,0.141803
...,...,...,...,...,...,...,...,...,...,...
24148,fdaf62,1,4,28.0,2182559.0,2180705.0,38.270483,38.858464,8478.894092,8708.839083
24149,fdaf62,1,4,29.0,2259937.0,2257899.0,38.485748,39.065107,8627.264583,8821.982824
24150,fdaf62,1,4,30.0,2341537.0,2339309.0,38.691410,39.211843,8916.435308,8848.559719
24151,fdaf62,1,4,31.0,2422152.0,2419745.0,38.705264,39.263485,8836.078773,8884.955277
24152,fdaf62,1,4,32.0,2478580.0,2475916.0,38.962364,39.554518,9077.322251,9215.231273

### Quantos experimentos têm a metrica 1 / binaria?

In [65]:
df.loc[(df['metric_id'] == 1)]['experiment_id'].unique()

array(['036afc', '058875', '08bcc2', '0bad33', '11cf0c', '162a38',
       '1bacbe', '2203f3', '26bd38', '2c8a04', '329386', '3683df',
       '39aed1', '3b4300', '3b62b9', '3c9dfd', '3da1aa', '3fef62',
       '449c53', '4509ec', '47a23b', '48a675', '4db6c7', '51c502',
       '530a76', '54a85a', '591c2c', '5ca6d6', '64dc88', '65c732',
       '6c4737', '6f8a33', '79f97f', '7a99e4', '7cd85b', '81761c',
       '834947', '84f653', '873d9d', '87f410', '8b436e', '8e0f8a',
       '8e2cb6', '8ed19a', '9b959e', '9ed9d5', 'a1e2bf', 'a4386f',
       'a68bf4', 'adea31', 'b2da2e', 'b3280a', 'b382c6', 'b8a409',
       'bac0d3', 'c3d89d', 'c4df76', 'c56288', 'c74b98', 'cf1b96',
       'd0b910', 'd4287a', 'd53f0e', 'd54896', 'd6e1d7', 'd8f486',
       'db7752', 'df31d1', 'e4b7b9', 'e4c4a1', 'e861d3', 'e90dd1',
       'ee6ff7', 'eeefa3', 'f0df06', 'f50b07', 'fcebce', 'fdaf62'],
      dtype=object)

In [102]:
metric1 = df.loc[(df['metric_id'] == 1)]
exp_counts = metric1['experiment_id'].value_counts().sort_values(ascending= False)
exp_id = exp_counts.idxmax()
exp_counts

experiment_id
54a85a    288
2c8a04    246
81761c    232
b382c6    212
329386    198
         ...
591c2c     12
b2da2e      8
cf1b96      7
a1e2bf      4
84f653      2
Name: count, Length: 78, dtype: int64

In [30]:
new_df = metric1[metric1['experiment_id'] == exp_id].sort_values('time_since_start',ascending=False); new_df

,experiment_id,variant_id,metric_id,time_since_start,count_c,count_t,mean_c,mean_t,variance_c,variance_t
8459,54a85a,1,1,55.5,3320536.0,3316730.0,0.251191,0.252204,0.188094,0.188597
8075,54a85a,0,1,55.5,3320536.0,102316.0,0.251191,0.250538,0.188094,0.187768
8843,54a85a,2,1,55.5,3320536.0,3320435.0,0.251191,0.250612,0.188094,0.187806
8458,54a85a,1,1,55.0,3320412.0,3316611.0,0.250475,0.251480,0.187737,0.188238
8074,54a85a,0,1,55.0,3320412.0,102312.0,0.250475,0.249795,0.187737,0.187397
...,...,...,...,...,...,...,...,...,...,...
7981,54a85a,0,1,7.0,1226360.0,37433.0,0.136382,0.135950,0.117782,0.117467
8749,54a85a,2,1,7.0,1226360.0,1226572.0,0.136382,0.134953,0.117782,0.116741
7980,54a85a,0,1,6.5,1148449.0,35048.0,0.126048,0.125342,0.110160,0.109632
8748,54a85a,2,1,6.5,1148449.0,1148325.0,0.126048,0.124925,0.110160,0.109318
8364,54a85a,1,1,6.5,1148449.0,1148465.0,0.126048,0.125872,0.110160,0.110029

In [64]:
new_df.iloc[0] # ultimo timestemp, mais tempo desde o incicio, mais dados

experiment_id          54a85a
variant_id                  1
metric_id                   1
time_since_start         55.5
count_c             3320536.0
count_t             3316730.0
mean_c               0.251191
mean_t               0.252204
variance_c           0.188094
variance_t           0.188597
Name: 8459, dtype: object

In [43]:
row = new_df.iloc[0]

count_c = row['count_c']
count_t = row['count_t']
mean_c = row['mean_c']
mean_t = row['mean_t']
variance_c = row['variance_c']
variance_t = row['variance_t']

Para calcuar o erro padrão entre as duas médias:

$SE = \sqrt{\frac{s^2_c}{n_c}+\frac{s^2_t}{c_t}}$

In [47]:
SE = np.sqrt((variance_c/count_c)+(variance_t/count_t))
print(f'Standard Error: {SE}')

Standard Error: 0.0003369097700431301

Calculando a estatistica Z:

$Z = \frac{\mu_t - \mu_c}{SE}$

In [92]:
Z = (mean_t- mean_c)/SE
print(f'Z statistic: {Z}')

Z statistic: 3.006906995504404

In [54]:

p_valor = 2 * (1-norm.cdf(abs(Z)))
print(f'P-valor: {p_valor}')

P-valor: 0.0026392049550985064

## Modularizando testes

In [84]:
def sezp_metric(df, metrica: int, exp_list: list):
    metric_df = df[df['metric_id'] == metrica]
    summary_res = []

    for exp_id in exp_list:
        new_df = metric_df[metric_df['experiment_id'] == exp_id].sort_values('time_since_start', ascending=False)
        if new_df.empty:
            continue  # pula se não encontrou o experimento
        
        row = new_df.iloc[0]  # linha mais recente (último dia)
        #row = 16581
        count_c = row['count_c']
        count_t = row['count_t']
        mean_c = row['mean_c']
        mean_t = row['mean_t']
        variance_c = row['variance_c']
        variance_t = row['variance_t']

        SE = np.sqrt((variance_c / count_c) + (variance_t / count_t))
        Z = (mean_t - mean_c) / SE
        p_valor = 2 * (1 - norm.cdf(abs(Z)))
        significant = p_valor < 0.05

        summary_res.append({
            'experiment_id': exp_id,
            'metric_id': metrica,
            'time': row['time_since_start'],
            'z-score': round(Z, 4),
            'p-value': round(p_valor, 9),
            'significant': significant
        })

    summary_df = pd.DataFrame(summary_res)
    return summary_df

In [111]:
#exp_list = ['81761c','54a85a', '329386' ]

exp_list = ['54a85a','2c8a04', '81761c' ,'81761c' , 'b382c6', '329386','591c2c']

sezp_metric(df,metrica = 1, exp_list = exp_list)

  experiment_id  metric_id   time  z-score   p-value  significant
0        54a85a          1   55.5   3.0069  0.002639         True
1        2c8a04          1  131.0  28.5835  0.000000         True
2        81761c          1  118.5  10.6421  0.000000         True
3        81761c          1  118.5  10.6421  0.000000         True
4        b382c6          1   60.5  -0.8603  0.389634        False
5        329386          1   91.0   0.1493  0.881310        False
6        591c2c          1   12.5   1.1992  0.230443        False

In [99]:
exp_counts

experiment_id
54a85a    288
2c8a04    246
81761c    232
b382c6    212
329386    198
         ...
591c2c     12
b2da2e      8
cf1b96      7
a1e2bf      4
84f653      2
Name: count, Length: 78, dtype: int64